<nav
  class="navbar nav-color navbar-expand-lg position-fixed w-100"
  data-bs-theme="dark"
>
  <a class="navbar-brand" href="#">
    <img
      src="../../../assets/Logo.png"
      alt=""
      style="width: 50px"
      class="ms-3"
    />
  </a>

  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link active"
          [routerLink]="['/']"
          routerLinkActive="active"
          *ngIf="user"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li class="nav-item" *ngIf="user">
        <a class="nav-link" [routerLink]="['/edit']" routerLinkActive="active"
          >Add Posts</a
        >
      </li>
      <li class="nav-item" *ngIf="!user">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active"
          >Login</a
        >
      </li>
      <li class="nav-item" *ngIf="!user">
        <a
          class="nav-link"
          [routerLink]="['/register']"
          routerLinkActive="active"
          >Register</a
        >
      </li>
    </ul>
    <div class="d-flex align-items-baseline me-3">
      <h6 class="ma-auto d-inline me-3" *ngIf="user">
        Welcome back, {{ user.user.name }}!
      </h6>
      <button
        type="button"
        class="btn btn-danger ms-2 float-end rounded-5 nav-button"
        *ngIf="user"
        (click)="logout()"
      >
        <i class="fas fa-power-off"></i>
      </button>
    </div>
  </div>
</nav>

<div
  class="bg-dark sticky-bottom d-block d-lg-none p-0 fixed-bottom"
  *ngIf="user"
>
  <nav class="navbar">
    <div
      class="container-fluid d-flex justify-content-between align-items-center"
    >
      <a
        class="nav-link fs-4 me-3 flex-fill"
        *ngIf="user"
        [routerLink]="['/view']"
      >
        <i class="fas fa-home"></i>
      </a>

      <a class="nav-link fs-4 flex-fill" *ngIf="user" [routerLink]="['/view']">
        <i class="bi bi-bookmark-plus-fill"></i>
      </a>

      <i class="fas fa-icona-centrale fs-4"></i>

      <button
        type="button"
        class="btn btn-danger ms-2 rounded-5 nav-button"
        *ngIf="user"
        (click)="logout()"
      >
        <i class="fas fa-power-off"></i>
      </button>
    </div>
  </nav>
</div>
