.nav-button {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset;
}

.nav-button:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.nav-color {
  background-color: #272829;
  color: #f4eee0;
}

.log-out {
  border: none;
  width: 35px;
  height: 35px;
}
.color-change-5x {
  animation: color-change-5x 15s linear infinite alternate both;
}
@keyframes color-change-5x {
  0% {
    background: #e4eecb;
  }
  25% {
    background: #8fd01c;
  }
  50% {
    background: #0a3c05;
  }
  75% {
    background: #598b18;
  }
  100% {
    background: #cee492;
  }
}

a {
  cursor: pointer;
}

@media (max-width: 991.98px) {
  .sticky-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .navbar {
    display: none;
  }
}

.nav-link i,
.btn i {
  color: green;
  transition: color 0.3s ease;
}

.nav-link:hover i,
.btn:hover i {
  color: white;
}

.btn.logout2 {
  background-color: green;
  transition: background-color 0.3s ease;
}

.btn.logout2 i {
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.btn.logout2:hover i {
  color: black;
}
