<main>
  <div
    class="container d-flex align-items-center justify-content-center scale-in-ver-center"
  >
    <form
      *ngIf="registerForm"
      [formGroup]="registerForm"
      class="px-3 py-4 rounded-3 text-white"
      (ngSubmit)="register()"
    >
      <div
        class="form-group inputNames mt-2 d-flex align-items-center justify-content-evenly"
      >
        <input
          type="text"
          formControlName="name"
          id="name"
          placeholder="Name"
          class="form-control"
          pattern="^[a-zA-Z]+$"
          [ngClass]="{
            'text-danger': registerForm.get('name')?.value?.length < 3
          }"
          title="
              {{
            registerForm.get('name')?.hasError('required') &&
            registerForm.get('name')?.touched
              ? 'Nome è obbligatorio'
              : ''
          }}
              {{
            registerForm.get('name')?.hasError('minlength') &&
            registerForm.get('name')?.touched
              ? 'Il nome deve contenere almeno 2 caratteri'
              : ''
          }}"
          onkeydown="return event.key < '0' || event.key > '9'"
        />

        <input
          type="text"
          formControlName="lastName"
          id="lastName"
          placeholder="Last name"
          class="form-control"
          pattern="^[a-zA-Z]+$"
          [ngClass]="{
            'text-error': registerForm.get('lastName')?.value?.length < 3
          }"
          title="
              {{
            registerForm.get('lastName')?.hasError('required') &&
            registerForm.get('lastName')?.touched
              ? 'Cognome è obbligatorio'
              : ''
          }}
              {{
            registerForm.get('lastName')?.hasError('minlength') &&
            registerForm.get('lastName')?.touched
              ? 'Il cognome deve contenere almeno 2 caratteri'
              : ''
          }}"
          onkeydown="return event.key < '0' || event.key > '9'"
        />
      </div>

      <div class="mt-2">
        <div class="mb-2 d-flex align-items-center justify-content-evenly">
          <div>
            <input
              type="radio"
              id="male"
              name="gender"
              value="uomo"
              formControlName="gender"
            />
            <label for="male" class="me-4">Male</label>
          </div>
          <div>
            <input
              type="radio"
              id="female"
              name="gender"
              value="donna"
              formControlName="gender"
            />
            <label for="female">Female</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <input
          type="email"
          formControlName="email"
          id="email"
          placeholder="E-mail"
          class="form-control"
          title="
              {{
            registerForm.get('email')?.hasError('required') &&
            registerForm.get('email')?.touched
              ? 'Email è obbligatoria'
              : ''
          }}
              {{
            registerForm.get('email')?.hasError('email') &&
            registerForm.get('email')?.touched
              ? 'Inserisci un indirizzo email valido'
              : ''
          }}"
        />
      </div>

      <div class="form-group">
        <input
          type="password"
          formControlName="password"
          id="password"
          placeholder="Password"
          class="form-control mt-2"
        />
      </div>

      <div class="form-group">
        <input
          type="password"
          formControlName="confirmPassword"
          id="confirmPassword"
          placeholder="Confirm Password"
          class="form-control mt-2"
        />
      </div>

      <div class="form-group">
        <textarea
          formControlName="biografia"
          id="biografia"
          placeholder="Enter a short description for your blog.."
          class="form-control mt-2"
          title="
              {{
            registerForm.get('biografia')?.hasError('required') &&
            registerForm.get('biografia')?.touched
              ? 'La biografia è obbligatoria'
              : ''
          }}
              {{
            registerForm.get('biografia')?.hasError('maxlength') &&
            registerForm.get('biografia')?.touched
              ? 'La biografia non può superare i 100 caratteri'
              : ''
          }}"
        ></textarea>
      </div>
      <div class="mt-3">
        <input
          type="text"
          id="imageUrl"
          formControlName="image"
          placeholder="Input an image to use as a profile picture.."
          class="form-control"
        />
      </div>
      <div class="form-group form-check mt-3">
        <input
          type="checkbox"
          formControlName="privacyAccepted"
          class="form-check-input"
          id="privacyAccepted"
        />
        <label class="form-check-label" for="privacyAccepted">
          I have read and agreed with terms and conditions
        </label>
      </div>

      <button
        type="submit"
        [disabled]="registerForm.invalid"
        class="btn btn-dark mt-4 w-100"
        id="register"
      >
        Sign up
      </button>
    </form>
  </div>
</main>
