.test {
  background-color: #5f6f52;
}

.tets-text {
  color: white;
}

.image-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 50%;
  border: solid 5px #3c4436;
  width: 250px;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  object-fit: center;
  margin-inline: auto;
}

.profile-image {
  width: 200%;
  object-fit: contain;
}

.custom-text-color {
  color: white;
}

.main-bg {
  background-color: beige;
}

.button-container {
  margin-top: 2rem;
  margin-inline: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 5px;
}

button {
  border: solid 3px #3c4436;
}

i {
<<<<<<< HEAD
    font-size: larger;
}

.top{
    top: 56px;
}
=======
  font-size: larger;
}
// ---------------------- animatione fotoProfilo
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.image-container {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.profile-image {
  width: 100%;
  height: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s;
}

.rotate {
  animation: rotate 1s linear;
}
// ---------------------------------------------
>>>>>>> develop-working
