<div class="container-fluid p-0 position-fixed top">
  <div class="row g-0 display-flex">
    <div class="col-3 test text-center p-3 vh-100 custom-text-color">
      <h1 class="">My Blog</h1>
      <div class="image-container">
        <img
          class="object-fit-contain profile-image"
          src="https://st3.depositphotos.com/1017228/18878/i/450/depositphotos_188781580-stock-photo-handsome-cheerful-young-man-standing.jpg"
          alt=""
        />
      </div>
      <div>
        <p class="mt-3">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic sunt
          corrupti quia fuga autem dolore, eius, aut placeat labore cum
          molestias, pariatur delectus dolorum! Ratione totam quibusdam
          temporibus adipisci! Reprehenderit.
        </p>
        <div class="button-container">
          <button class="btn btn-light rounded-circle">
            <i class="bi bi-twitter-x text-success"></i>
          </button>
          <button class="btn btn-light rounded-circle">
            <i class="bi bi-discord text-success"></i>
          </button>
          <button class="btn btn-light rounded-circle">
            <i class="bi bi-github text-success"></i>
          </button>
          <button class="btn btn-light rounded-circle">
            <i class="bi bi-linkedin text-success"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-9 text-center">
      <div class="main-bg p-3">
        <h1 class="fw-bold py-3">
          DevBlog - A Blog Template Made For Developers
        </h1>
        <h5 class="text-body-tertiary mb-0">
          Welcome to my Blog. Subscribe and get my latest blog post in your
          inbox.
        </h5>
     
      </div>
    <div class="container overflow-y-auto vh-100 ">
        <div class=" bg-dark row px-5">
          <div class="col-12" *ngFor="let elem of posts">
            <div class="card mb-3 mt-5">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="..." class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{elem.title}}</h5>
                    <p class="card-text">{{elem.body}}</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
  
  
  
        </div>
    </div>
    </div>
  </div>
</div>
