<div
  id="main-container"
  class="mx-0 container-fluid position-fixed top-0 vh-100 bg-dark"
  *ngIf="!isEditing && !isCreating"
>
  <div class="row d-grid gap-2 d-flex p-5 justify-content-center">
    <h2
      class="card-header p-3 text-center custom-text-color rounded-top-2 mb-3"
    >
      {{ post.title }}
    </h2>
    <div class="card m-3 custom-bg p-0 swing-in-top-fwd">
      <div class="row g-0">
        <div class="col-4">
          <img src="{{ post.img }}" class="img-fluid rounded-start" alt="" />
        </div>
        <div class="col-8">
          <div class="card-body d-flex flex-column h-100">
            <h5 class="card-title fs-1 fw-bolder">{{ post.title }}</h5>
            <p class="card-text fs-3 flex-grow-1">
              {{ post.body }}
            </p>
            <button type="button" class="btn btn-warning w-25 ms-auto">
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container vh-100 swing-in-top-fwd" *ngIf="isEditing && !isCreating">
  <div>
    <form
      #form="ngForm"
      class="px-3 py-4 rounded-3 text-white form-add custom-popup"
      (ngSubmit)="modifyPost()"
    >
      <h2 class="text-center text-dark">Edit Post / # {{ postId }}</h2>
      <div class="form-group">
        <label for="title" class="text-dark">Title</label>
        <input
          type="title"
          id="title"
          name="title"
          class="form-control customshadow"
          [(ngModel)]="post.title"
        />
      </div>
      <div class="form-group">
        <label for="body" class="text-dark">body</label>
        <input
          type="body"
          id="body"
          name="body"
          class="form-control customshadow"
          [(ngModel)]="post.body"
          style="padding-bottom: 150px"
        />
      </div>

      <div class="form-group">
        <img
          src="{{ post.img }}"
          alt=""
          class="rounded-5 my-2 customshadow"
          style="height: 150px; width: 150px"
          *ngIf="post.img"
        />
        <label for="img" class="ms-3 text-dark">Image preview</label>
        <input
          type="text"
          id="img"
          name="img"
          class="form-control customshadow"
          [(ngModel)]="post.img"
        />
      </div>
      <button
        type="submit"
        class="btn btn-dark mt-4 w-100"
        [disabled]="form.invalid"
      >
        Edit
      </button>
      <img src="../../../assets/Logo.png" alt="" class="form-img" />
    </form>
  </div>
</div>

<div class="container-add vh-100 swing-in-top-fwd" *ngIf="isCreating">
  <div class="">
    <form
      #form="ngForm"
      class="form-add px-3 py-4 rounded-3 text-white text-center custom-popup"
      (ngSubmit)="createPost()"
    >
      <h2 class="ps-3 text-dark">Create a new post</h2>
      <div class="form-group mt-3 text-start">
        <label for="title " class="text-dark">Title</label>
        <input
          type="title"
          id="title-create"
          class="form-control customshadow"
          placeholder=""
        />
      </div>
      <div class="form-group mt-3 text-start">
        <label for="body" class="text-dark">Comments</label>
        <input
          id="body-create"
          class="form-control customshadow"
          style="padding-bottom: 150px"
        />
      </div>
      <div class="form-group mt-3 text-start">
        <label for="img" class="text-dark"
          >Attach an image for your project</label
        >
        <input
          type="text"
          id="img-create"
          class="form-control customshadow"
          placeholder="https//..."
        />
      </div>
      <button
        type="submit"
        class="btn btn-dark mt-5 w-100 shadow-pop-br"
        [disabled]="form.invalid"
        id="create"
      >
        Submit
      </button>
      <img src="../../../assets/Logo.png" alt="" class="form-img" />
    </form>
  </div>
</div>
