<div
  id="main-container"
  class="mx-0 container-fluid position-fixed top-0 vh-100"
  *ngIf="!isEditing && !isCreating"
>
  <div class="d-grid gap-2 d-flex justify-content-between row">
    <h2 class="card-header pb-3">View Post</h2>
    <button type="button" class="btn btn-primary col">Precedente</button>
    <button type="button" class="btn btn-primary col">Successivo</button>

    <hr />

    <div class="row custom-bg justify-content-between">
      <div class="card">
        <div class="col-4">
          <img
            src="https://www.timeoutdubai.com/cloud/timeoutdubai/2021/09/14/yvA5SpUH-IMG-Worlds-1200x800.jpg"
            class="img-fluid rounded-start"
            alt="post-img"
          />
        </div>
        <div class="col-8">
          <div class="card-body d-flex flex-column h-100">
            <h5 class="card-title fs-1 fw-bolder">{{ post.title }}</h5>
            <p class="card-text fs-3 flex-grow-1">
              {{ post.body }}
            </p>
            <button type="button" class="btn btn-warning w-25 ms-auto">
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container vh-100" *ngIf="isEditing && !isCreating">
  <h2>Edit Post # {{ postId }}</h2>
  <form
    #form="ngForm"
    class="px-3 py-4 rounded-3 text-white"
    (ngSubmit)="modifyPost()"
  >
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="title"
        id="title"
        name="title"
        class="form-control"
        [(ngModel)]="post.title"
      />
    </div>
    <div class="form-group">
      <label for="body">body</label>
      <input
        type="body"
        id="body"
        name="body"
        class="form-control"
        [(ngModel)]="post.body"
        style="height: 150px"
      />
    </div>

    <button
      type="submit"
      class="btn btn-dark mt-4 w-100"
      [disabled]="form.invalid"
    >
      Edit
    </button>
  </form>
</div>
<div class="container-add custom-container" *ngIf="isCreating">
  <form
    #form="ngForm"
    class="form-add px-3 py-4 rounded-3 text-white text-center vh-100"
    (ngSubmit)="createPost()"
  >
    <h2 class="ps-3">Create a new post</h2>
    <div class="form-group mt-3 text-start">
      <label for="title">Title</label>
      <input
        type="title"
        id="title-create"
        class="form-control"
        placeholder=""
      />
    </div>
    <div class="form-group mt-3 text-start">
      <label for="body">Comments</label>
      <textarea id="body-create" class="form-control" style="height: 200px">
      </textarea>
    </div>
    <div class="form-group mt-3 text-start">
      <label for="img">Attach a preview of your project</label>
      <input
        type="text"
        id="img-create"
        class="form-control"
        placeholder="https//..."
      />
    </div>
    <button
      type="submit"
      class="btn btn-dark mt-4 w-100 shadow-pop-br"
      [disabled]="form.invalid"
      id="create"
    >
      Submit
    </button>
  </form>
</div>
